flats-new {
  padding: 0 12px;
  max-height: initial !important;
  margin-bottom: 30px !important;

  h1, h2, h3 {
    margin-bottom: 10px;
  }

  hr {
    width: 8%;
    margin: 0 auto 12px;
    border-color: #d9d9d9;
  }

  .input-desc {
    width: 50%;
  }

  md-input-container label:not(.md-no-float):not(.md-container-ignore),
  md-input-container .md-placeholder {
    transform-origin: center;
  }



  // Map

  .angular-google-map-container { height: 400px; }


}