services-list {
  .services-list__service {
    padding: 22px;
    color: #FFF;
    border-radius: 50%;
    background-color: #1194F6;
    font-size: 20px;

    height: 70px;
    width: 70px;
    margin: 0 7px;
  }

}